.wrapper {
    position: relative;
    width: 100%;
}

.wrapper  .wrapper Input {
    display: block;
    /* padding: 10px 0; */
  
}

.wrapper Input {
    border: 2px solid #01C598;
    border-radius: 8px;
    background: transparent;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 38px;
    width: 100%;
    color: #fff;

}

.eye-icon {
  
    position: absolute;
    color: #fff;
    top: 35%;
    right: 8px;
  
}



