.wrapper {
    position: relative;
    width: 100%;
}

.wrapper  .wrapper Input {
    display: block;
    /* padding: 10px 0; */
  
}

.wrapper Input {
    border: 2px solid grey;
    border-radius: 8px;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 38px;
    width: 100%;
    color: blue;

}




